html, body {
    height: 100%;
    margin: 0;
}

.background-image {
    height: 100vh;
    background-color: rgba(164, 156, 137, 0.5);
    background-image: url(../img/background.jpg);
    background-size: 100% 100%;  
}

.social-buttons {
    position: absolute; 
    bottom: 10%; /* Default bottom position */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.social-buttons a {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Align icon to left and text to right */
    align-items: center; /* Center items vertically */
    margin: 10px 0;
    width: 200px; /* Adjust width as needed */
    text-decoration: none;
    border: 1px solid rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
    color: #333; /* Text color */
    background-color: rgba(164, 156, 137, 0.6);
    transition: all 0.3s ease; 
}

.social-buttons a:hover {
    background-color: rgba(0, 0, 0, 0.1); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); 
}

.icon {
    margin-right: 8px; /* Add space between icon and text */
}


/* Adjust position for different screen sizes */
@media (max-height: 1500px) {
    .social-buttons {
        bottom: 15%; /* Adjust for medium height screens */
    }
}

@media (max-height: 900px) {
    .social-buttons {
        bottom: 10%; /* Further adjust for small height screens */
    }
}

@media (max-height: 639px) {
    .social-buttons {
        bottom: 4%; /* Minimal bottom space for very small height screens */
    }
}


@media (min-width: 600px) {
    .background-image {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
